<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>Hello Vue!(いつものやつさ)</title>
    <style media="screen">
      .todo-default {
        padding: 5px;
        border-bottom: 1px solid silver;
      }
      .todo-doing {
        background-color: floralwhite;
      }

      .issue-default{
        padding: 10px;
      }
      .issue-default a{
        font-weight: bold;
        font-size: 18px;
        text-decoration: none;
        color: slategray;
      }
      .issue-default span{
        color:#767676;
        font-size: 12px;
      }
    </style>
  </head>
  <body>
    <div id="app">
      {{ message }}
    </div>
    <div id="app-2">
      <span v-bind:title="message">
        Hover yout mouse over me for a few seconds
        to see my dynamically bound title!<br>
        (要はマウスオーバーでメッセージが出るやつ)
      </span><br>
    </div>
    <div id="app-3">
      <span v-if="seen">Now you see me(条件分岐) </span>
    </div>
    <div id="app-4">
      <ol>
        <li v-for="todo in todos">
          {{ todo.text }}
        </li>
      </ol>
    </div>
    <div id="app-5">
      <p>{{ message }}</p>
      <button v-on:click="reverseMessage">Reverse Message</button>
    </div>
    <div id="app-6">
      <p>{{ message }}</p>
      <input v-model="message">
    </div>
    <div>
      <p>Qiitaより</p>
    </div>
    <div id="todoApp">
      <h2 v-bind:style="fontStyle">{{ title }}</h2>
      <input type="text" v-model="todo" v-on:keyup.enter="addTodo">
      <div>
        <div v-for="t in todos" v-vind:key="t.id" v-bind:class="['todo-default', t.doing ? 'todo-doing' : '']" v-on:click="begin(t)">
          {{ t.name }}
        </div>
      </div>
    </div>
    <div id="todoApp2">
      <h2>Todo with Component</h2>
      <input type="text" v-model="todo" v-on:keyup.enter="addTodo">
      <span>doing {{doings}} / {{todos.length}} task</span>
      <div>
        <todo-template v-for="t in todos" :t="t" @todochanged="count"></todo-template>
      </div>
    </div>

    <div>
      <p>Github連携</p>
    </div>
    <div id="issues">
      <h2>Latest {{repository}} Issues</h2>
      <div>
        <input type="text" v-model="repository">
      </div>
      <div>
        <input type="text" v-model="searchText">
        <div v-show="hasIssue">
          <div v-for="issue in issues" v-if="issue.title.indexOf(searchText) > -1"
               class="issue-default">
            <a :href="issue.html_url" target="_blank">
              {{issue.title}}
            </a><br/>
            <span>#{{issue.number}} at {{issue.updated_at | formatDate}}</span>
          </div>
        </div>
        <div v-else>
          The repository {{repository}} does not exist!
        </div>
      </div>
    </div>
    <!-- HTMLを読み込む前にVueを走らせると怒られる -->
    <!-- 開発用 -->
    <!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
    <!-- 本番環境用 -->
     <script src="https://cdn.jsdelivr.net/npm/vue"></script>
     <!--<script src="https://unpkg.com/vue"></script>-->
    <script type="text/javascript" src="./vue.js"></script>
    <script type="text/x-template" id="todo-template">
      <div v-bind:class="['todo-default', doing ? 'todo-doing' : '']" v-on:click="begin">
        {{t.name}}
      </div>
    </script>
  </body>
</html>
